body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: var(--primary-font);
  font-size: var(--fs-m);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-m);
  line-height: var(--lh-xxl);
  color: var(--color-text);

  background-color: var(#FCFCFC);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-s);
  text-align: center;
}

h1 {
  color: var(--color-white-bg);
}

h2 {
  color: var(--color-dark);
  margin-bottom: 72px;
}

a {
  letter-spacing: var(--ls-m);
  font-style: normal;
}

.uppercase-text {
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }

  h1 {

    font-size: var(--fs-h1);
    line-height: var(--lh-xs);
  }
}

@media screen and (min-width:1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: var(--fw-regular);
  }

  h1 {
    margin-bottom: 48px;
  }

}