body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: var(--primary-font);
  font-size: var(--fs-main);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-base);
  line-height: var(--lh-main);
  color: var(--color-text);

  background-color: var(--color-modal-bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}


h1 {
  text-align: center;
  font-size: var(--fs-hero);
  font-weight: var(--fw-bold);
  line-height: var(--lh-hero);
  color: var(--color-white-bg);
}

h2 {
  margin-bottom: 72px;
  text-align: center;
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-hero);
  color: var(--color-dark);
}

h3 {

  font-size: var(--fs-h3);
  font-weight: var(--fw-medium);
  line-height: var(--lh-heading);
  color: var(--color-dark);
}

a {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width:1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

}