@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/roboto-v50-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/roboto-v50-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/roboto-v50-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('/fonts/raleway-v37-latin-700.woff2') format('woff2');
}