:root {

    --color-primary: #4D5AE5;
    --color-pressed-text: #404BBF;
    --color-pressed-icon: #31D0AA;

    --color-dark: #2E2F42;
    --color-text: #434455;
    --color-subtle-text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;

    --color-modal-overlay: rgba(46, 47, 66, 0.4);
    --color-hero-bcg: rgba(46, 47, 66, 0.7);
    --color-white-bg: #FFFFFF;
    --color-modal-bg: #FCFCFC;

    --linier-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

    --box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --fs-hero: 36px;
    /* hero */
    --fs-feature-subtitle: 36px;
    /* feature-subtitle */
    --fs-h2: 36px;
    /*  h2 */
    --fs-h3: 20px;
    /* h3 address*/
    --fs-logo: 18px;
    /* logo */
    --fs-main: 16px;
    /* button text card-text footer-text socisl-title modal-title*/
    --fs-psdr: 12px;
    /* plasholder label/texteria policy policy-accent*/


    --fw-light: 300;
    --fw-regular: 400;
    /* card-text footer-text plasholder label/texteria policy policy-accent*/
    --fw-feature-text: 500;
    --fw-medium: 500;
    /* button text h3 socisl-title address modal-title*/
    --fw-semibold: 600;
    --fw-bold: 700;
    /* logo hero h2 */
    --fw-feature-subtitle: 700;
    /* feature-subtitle */
    --fw-extrabold: 800;


    --lh-hero: 1.11;
    /* hero h2 */
    --lh-feature-subtitle: 1.11;
    --lh-logo: 1.17;
    /* logo label/texteria policy */
    --lh-heading: 1.2;
    /* h3 address*/
    --lh-policy-accent: 1.33;
    /* policy-accent */
    --lh-main: 1.5;
    /* button text footer-text socisl-title modal-title*/
    --lh-psdr: 2;
    /* plasholder*/

    --ls-base: 0.02em;
    /* hero h2 text h3 card-text footer-text socisl-title address modal-title feature-subtitle*/
    --ls-logo: 0.03em;
    /* logo */
    --ls-form: 0.04em;
    /* button  plasholder label/texteria policy policy-accent */

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    :root {
        --fs-hero: 56px;
        --lh-hero: 1.07;

        --fs-header-address: 12px;
        --lh-header-address: 1.17;
        --ls-header-address: 0.04;
    }

}

@media screen and (min-width: 1200px) {
    :root {
        --fs-header-address: 16px;
        --lh-header-address: 1.5;
        --ls-header-address: 0.02;

        --fs-feature-subtitle: 20px;
        --fw-feature-subtitle: 500;
        --lh-feature-subtitle: 1.2;

        --fw-feature-text: 400;
    }

}