:root {
    /* 1. Colors */
    --color-primary: #4D5AE5;
    --color-pressed-text: #404BBF;
    --color-pressed-icon: #31D0AA;
    --color-dark: #2E2F42;
    --color-text: #434455;
    --color-subtle-text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;
    --color-modal-overlay: rgb(46, 47, 66, 40%);
    --color-hero-bcg: rgb(46, 47, 66, 70%);
    --color-white-bg: #FFF;
    /* --color-form-textarea: rgb(142, 143, 153, 50%); */
    --color-form-border-footer: rgb(255, 255, 255, 30%);
    --color-form-label-footer: rgb(255, 255, 255, 60%);
    --color-modal-bg: #FCFCFC;


    /* 2. Gradients & Shadows */
    --linear-gradient: linear-gradient(rgb(46, 47, 66, 70%), rgb(46, 47, 66, 70%));
    --box-shadow: 0 1px 6px 0 rgb(46, 47, 66, 8%);
    --box-shadow-pressed: 0 2px 1px 0 rgb(46, 47, 66, 8%),
        0 1px 1px 0 rgb(46, 47, 66, 16%),
        0 1px 6px 0 rgb(46, 47, 66, 8%);


    /* 3. Fonts Family */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;


    /* 4. Font Sizes (Mobile First) */
    --fs-hero: 36px;
    --fs-feature-subtitle: 36px;
    --fs-h2: 36px;
    --fs-h3: 20px;
    --fs-logo: 18px;
    --fs-main: 16px;
    --fs-psdr: 12px;


    /* 5. Font Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;


    /* Logic Weights (для зручності) */
    --fw-feature-text: 500;
    --fw-feature-subtitle: 700;

    /* 6. Line Heights */
    --lh-hero: 1.11;
    --lh-feature-subtitle: 1.11;
    --lh-logo: 1.17;
    --lh-heading: 1.2;
    --lh-policy-accent: 1.33;
    --lh-main: 1.5;
    --lh-psdr: 2;

    /* 7. Letter Spacing */
    --ls-base: 0.02em;
    --ls-logo: 0.03em;
    --ls-form: 0.04em;

    /* 8. Transitions */
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-slow: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    :root {
        --fs-hero: 56px;
        --lh-hero: 1.07;
        --fs-header-address: 12px;
        --lh-header-address: 1.17;
        --ls-header-address: 0.04em;
    }
}

@media screen and (min-width: 1158px) {
    :root {
        --fs-header-address: 16px;
        --lh-header-address: 1.5;
        --ls-header-address: 0.02em;
        --fs-feature-subtitle: 20px;
        --fw-feature-subtitle: 500;
        --lh-feature-subtitle: 1.2;
        --fw-feature-text: 400;
    }

}