:root {

    --color-primary: #4D5AE5;
    --color-hover-text: #404BBF;
    --color-hover-icon: #31D0AA;
    --color-dark: #2E2F42;
    --color-text: #434455;
    --color-subtle-text: #8E8F99;
    --color-accent: #E7E9FC;
    --color-light: #F4F4FD;

    --color-modal-overlay: rgba(46, 47, 66, 0.4);
    --color-hero-bcg: rgba(46, 47, 66, 0.7);
    --color-white-bg: #FFFFFF;
    --color-modal-bg: #FCFCFC;


    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-secondary-bold: 700;

    --fs-xs: 12px;
    --fs-xxs: 8px;
    --fs-m: 16px;
    --fs-s: 18px;
    --fs-sm: 20px;
    --fs-l: 24px;
    --fs-h3: 20px;
    --fs-h2: 36px;
    --fs-h1: 56px;

    --ls-m: 0.02em;
    --ls-logo: 0.03em;
    --ls-l: 0.04em;


    --lh-xs: 107%;
    --lh-s: 111%;
    --lh-m: 117%;
    --lh-l: 120%;
    --lh-xl: 133%;
    --lh-xxl: 150%;
    --lh-xxxl: 200%;


    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}