:root {
    /* --- Colors --- */
    --color-primary: #814b2e;
    /* Основний брендовий колір */
    --color-brand-light: #faf4ea;
    /* Світлий акцент (наприклад, фон) */
    --color-brand-dark: #31261a;
    /* Темний акцент */

    --color-light: #ffffff;
    --color-dark: #111111;

    --color-input-text: rgba(18, 18, 17, 0.5);
    --color-input-border: #a18268;

    --hero-gradient: linear-gradient(122deg,
            rgba(18, 18, 17, 0.78) 0%,
            rgba(18, 18, 17, 0.6) 58.19%,
            rgba(18, 18, 17, 0) 100%);

    /* --- Fonts --- */
    --primary-font: 'Roboto', sans-serif;
    --second-font: 'Playfair Display', serif;

    /* --- Font Weight --- */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* --- Font Size (Mobile) --- */
    --fs-xs: 12px;
    --fs-s: 14px;
    --fs-m: 16px;
    --fs-l: 18px;
    --fs-xl: 20px;
    --fs-xxl: 24px;
    --fs-h2: 32px;
    --fs-h1: 44px;
    /* Мобільний заголовок */

    /* --- Line Height --- */
    --lh-h: 1.2;
    --lh-b: 1.3;
    --lh-p: 1.5;

    /* --- Transitions --- */
    --anim-fast: 300ms ease-in-out;
    --anim-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- Responsive Font Sizes --- */
@media screen and (min-width: 1240px) {
    :root {
        --fs-h1: 128px;
        --fs-h2: 64px;
        /* Можна додати збільшення інших шрифтів для великих екранів */
    }
}