.feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.feature-icon-box {
    display: none;
}

.feature-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feature-subtitle {
    /* padding-bottom: 8px; */

    font-size: var(--fs-feature-subtitle);
    font-weight: var(--fw-feature-subtitle);
    line-height: var(--lh-feature-subtitle);
    text-align: center;
}

.feature-text {
    font-weight: var(--fw-feature-text);
}

@media screen and (min-width: 768px) {
    .feature-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: center;
    }

    .feature-item {
        width: calc((100% - 24px) / 2);
    }

    .feature-subtitle {
        text-align: start;
    }

    .feature-text {
        padding-bottom: 0;
    }

}

@media screen and (min-width: 1158px) {
    .feature-list {
        flex-wrap: nowrap;
        gap: 22px;
    }

    .feature-item {
        width: calc((100% - 3 * 22px) / 4)
    }

    .feature-icon-box {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 112px;
        border: 1px solid var(--color-subtle-text);
        border-radius: 4px;

        background-color: var(--color-light);
    }
}