.hero-section {
    background-image: var(--hero-gradient), url(/src/img/hero/hero-bi-m@1x.webp);
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: var(--hero-gradient), url(/src/img/hero/hero-bi-m@2x.webp);
    }
}

.hero-container {
    text-align: center;
    min-height: 378px;
    padding-top: 124px;
}

.hero-title {
    margin-bottom: 48px;
    color: var(--color-light);
    font-family: var(--second-font);
    /* Шрифти з :root */
    font-size: var(--fs-h1);
    font-weight: var(--fw-extrabold);
    line-height: var(--lh-h);
}

.accent-color {
    color: var(--color-primary);
    /* Наш брендовий колір */
}

/* Десктопна версія */
@media screen and (min-width: 1240px) {
    .hero-section {
        background-image: var(--hero-gradient), url(/src/img/hero/hero-bi-d@1x.webp);
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: var(--hero-gradient), url(/src/img/hero/hero-bi-d@2x.webp);
        }
    }

    .hero-container {
        min-height: 736px;
        padding-top: 272px;
    }

    .hero-title {
        margin-bottom: 0px;
    }
}

/* Кнопка в Hero (якщо потрібні специфічні налаштування) */
.hero-button {
    transition: transform var(--anim-fast);
}

.hero-button:hover {
    transform: scale(1.05);
}