.hero-section {
    margin-top: 56px;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
        url(/src/img/hero/hero-bcg-m@1x.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
            url(/src/img/hero/hero-bcg-m@2x.webp);
    }
}

.hero-container {
    text-align: center;
    max-width: 216px;
    min-height: 432px;
}

.hero-title {
    padding-top: 72px;
    padding-bottom: 72px;
}


@media screen and (min-width: 767px) {
    .hero-section {
        margin-top: 72px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
            url(/src/img/hero/hero-bcg-t@1x.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
                url(/src/img/hero/hero-bcg-t@2x.webp);
        }
    }

    .hero-container {
        text-align: center;
        max-width: 522px;
        min-height: 432px;
    }

    .hero-title {
        padding-top: 112px;
        padding-bottom: 36px;
    }
}

@media screen and (min-width:1158px) {
    .hero-section {
        margin-top: 72px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
            url(/src/img/hero/hero-bcg-d@1x.webp);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
                url(/src/img/hero/hero-bcg-d@2x.webp);
        }
    }

    .hero-container {
        text-align: center;
        max-width: 522px;
        min-height: 600px;
    }

    .hero-title {
        padding-top: 188px;
        padding-bottom: 48px;
    }
}