.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 56px;
    padding: 72px 0;

    background-image: var(--linear-gradient), url('/src/img/hero/hero-bcg-m@1x.webp');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero-section {
        background-image: var(--linear-gradient), url('/src/img/hero/hero-bcg-m@2x.webp');
    }
}

.hero-container {
    text-align: center;
}

.hero-title {
    max-width: 216px;
    margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
    .hero-section {
        margin-top: 72px;
        padding: 112px 0;
        background-image: var(--linear-gradient), url('/src/img/hero/hero-bcg-t@1x.webp');
    }


    .hero-title {
        max-width: 550px;
        margin-bottom: 36px;
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: var(--linear-gradient), url('/src/img/hero/hero-bcg-t@2x.webp');
        }
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
        background-image: var(--linear-gradient), url('/src/img/hero/hero-bcg-d@1x.webp');
    }

    .hero-title {
        max-width: 522px;
        margin-bottom: 48px;
    }

    @media (min-resolution: 192dpi) {
        .hero-section {
            background-image: var(--linear-gradient), url('/src/img/hero/hero-bcg-d@2x.webp');
        }
    }
}