.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-card {
    box-shadow: var(--box-shadow);
    transition: box-shadow var(--transition-slow);
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: var(--box-shadow-pressed);

}

.portfolio-img {
    height: 280px;
    object-fit: cover
}


.portfolio-content-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}


@media screen and (min-width: 768px) {
    .portfolio-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }


    .portfolio-card {
        width: calc((100% - 24px)/2);
    }

    .portfolio-img {
        height: 300px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-cards {
        row-gap: 48px;
    }

    .portfolio-card {
        width: calc((100% - 2*24px)/3);
    }
}