.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* max-width: 264px; */
}

.portfolio-img-box {
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    max-width: 288px;
    max-height: 280px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
    transform: translateY(0%);
}

.portfolio-card {
    border: 1px solid var(--color-border);
    box-shadow: var(--box-shadow);
}

.portfolio-content-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;

}


@media screen and (min-width: 767px) {
    .portfolio-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-img {
        max-width: 356px;
        max-height: 300px;
    }

}

@media screen and (min-width: 1158px) {
    .portfolio-cards {
        row-gap: 48px;
    }

    .portfolio-img {
        max-width: 360px;
    }
}