.team-section {
    background-color: var(--color-light);
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    justify-content: center;

}

.team-card {
    width: 264px;
    text-align: center;
    background: var(--color-white-bg);
    box-shadow: var(--box-shadow);
}

.team-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    padding: 32px 16px;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-item {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;

    background-color: var(--color-primary);

    transition: background-color var(--transition);
}

.social-item:hover,
.social-item:focus {
    background-color: var(--color-pressed-icon);
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

}