.footer {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 72px;
}

.logo-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-accent {
    color: var(--color-light);
}

.footer-description {
    max-width: 288px;
    text-align: start;
}


.social-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.social-title,
.footer-form-title {
    font-weight: var(--fw-medium);
}


.footer-container .social-list {
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer-button-form {
    position: relative;
}


@media screen and (min-width: 767px) {
    .footer-container {
        width: 528px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        /* justify-content: center; */
    }

    .logo-group {
        align-items: start;
    }


    .footer-description {
        max-width: 264px;
        align-items: start;
    }


    .social-group {
        align-items: start;
    }

    .form-group {
        align-items: start;
    }
}


@media screen and (min-width:1158px) {
    .footer-container {
        width: 100%;
        flex-wrap: nowrap;
        gap: 0;
    }

    .logo-group {
        margin-right: 120px;
    }

    .social-group {
        margin-right: 80px;
    }
}