.footer {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;

    text-align: center;
}

.logo-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-accent {
    color: var(--color-light);
}

.footer-description {
    max-width: 288px;
    text-align: start;
}


.social-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.social-title,
.footer-form-title {
    font-weight: var(--fw-medium);
}


.footer-container .social-list {
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}


@media screen and (min-width:768px) {
    .footer-container {
        display: flex;
        flex-flow: row wrap;
        gap: 72px 24px;
        align-items: baseline;
        justify-content: center;

        width: 528px;
    }

    .logo-group {
        align-items: start;
    }


    .footer-description {
        align-items: start;
        max-width: 264px;
    }


    .social-group {
        align-items: start;
    }

    .form-group {
        align-items: start;
    }
}


@media screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
        width: 100%;
    }

    .logo-group {
        margin-right: 120px;
    }

    .social-group {
        margin-right: 80px;
    }
}