.footer {
    padding: 40px 0;
    background-color: var();
    color: var();
}

.footer-container {
    display:
        flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.footer-link,
.address-link {
    font-family: var();
    font-style: normal;
    color: var();
    transition: color var(--transition);
}

.footer-link:hover,
.address-link:hover {
    color: var();
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials-icon {
    fill: var();
    transition: fill var(--transition);
}

.socials-link:hover .socials-icon {
    fill: var();
}

.footer-legal {
    font-size:
        var();
}

@media screen and (min-width: 767px) {}

@media screen and (min-width:1158px) {}