.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: var(--color-accent);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.header-address {
    display: none;
}


@media screen and (min-width: 768px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        font-weight: var(--fw-medium);
    }

    .nav-item::after {
        content: '';

        display: block;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        opacity: 0;
        background-color: var(--color-pressed-text);

        transition: opacity var(--transition);
    }

    .nav-item:hover::after,
    .nav-item:focus::after {
        opacity: 1;
    }

    .nav-link-header {
        display: block;
        padding: 24px 0;
        transition: color var(--transition);
    }

    .nav-link-header:hover,
    .nav-link-header:focus,
    .nav-link-header.is-current {
        color: var(--color-pressed-text);
    }


    .header-address {
        display: flex;
        flex-direction: column;
        gap: 12px;

        font-size: var(--fs-header-address);
        font-weight: var(--fw-regular);
        line-height: var(--lh-header-address);
        letter-spacing: var(--ls-header-address);
    }

    .address-link {
        display: block;
        color: var(--color-subtle-text);
        transition: color var(--transition);
    }

    .address-link:hover,
    .address-link:focus {
        color: var(--color-pressed-text);
    }
}

@media screen and (min-width:1158px) {

    .header-address {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}