.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 10;
    background-color: var(--color-accent);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    color: var(--color-primary);
    font-family: var(--secondary-font);
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
    line-height: var(--lh-logo);
    text-transform: uppercase;
    transition: color var(--transition);
}

.logo-accent {
    color: var(--color-dark);
    transition: color var(--transition);
}

.logo-text:hover,
.logo-text:focus,
.logo-text:hover .logo-accent,
.logo-text:focus .logo-accent {
    color: var(--color-pressed-text);
}

.nav-list {
    display: none;
}

.header-address {
    display: none;
}


@media screen and (min-width: 767px) {
    .header {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .nav-list {
        display: flex;
        gap: 40px;
        font-weight: var(--fw-medium);
    }

    .nav-item::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--color-pressed-text);
        border-radius: 2px;
        opacity: 0;
        transition: opacity var(--transition);
    }

    .nav-item:hover::after,
    .nav-item:focus::after {
        opacity: 1;
    }

    .nav-link {
        padding: 24px 0;
        transition: color var(--transition);
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.is-current {
        color: var(--color-pressed-text);
    }

    .header-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: var(--fs-header-address);
        font-weight: var(--fw-regular);
        line-height: var(--lh-header-address);
        letter-spacing: var(--ls-header-address);
        color: var(--color-subtle-text);
        transition: color var(--transition);
    }

    .address-link:hover,
    .address-link:focus {
        color: var(--color-pressed-text);
    }
}

@media screen and (min-width:1158px) {

    .header-address {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}