.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-list {
    display: none;
    /* Приховано для мобільних пристроїв */
}

/* Логотип */
.logo-icon {
    /* Використовуємо основний брендовий колір */
    fill: var(--color-primary);
    transition: fill var(--anim-fast);
}

.logo:hover .logo-icon {
    fill: var(--color-light);
}

/* Десктопна навігація */
@media screen and (min-width: 1240px) {
    .nav-list {
        display: flex;
        gap: 40px;
        margin-left: 80px;
    }

    .nav-link {
        color: var(--color-light);
        font-family: var(--primary-font);
        font-size: var(--fs-m);
        font-weight: var(--fw-regular);
        line-height: var(--lh-p);
        transition: color var(--anim-fast);
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.is-current {
        color: var(--color-primary);
        font-weight: var(--fw-semibold);
    }

    .burger-menu-btn {
        display: none;
    }
}

/* Кнопка в хедері (Замовити дзвінок) */
.header-button {
    display: none;
}

@media screen and (min-width: 1240px) {
    .header-button {
        display: block;
        /* Стилі самої кнопки зазвичай у окремому файлі buttons.css */
    }
}

/* Бургер-меню (Кнопка відкриття) */
.burger-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: var(--color-light);
    cursor: pointer;
    transition: stroke var(--anim-fast);
}

.burger-menu-btn:hover {
    stroke: var(--color-primary);
}