.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 10;
    background-color: var(--color-accent);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    color: var(--color-primary);
    font-family: var(--secondary-font);
    font-size: var(--fs-s);
    font-weight: var(--fw-bold);
    line-height: var(--lh-m);
    text-transform: uppercase;
    transition: color var(--anim-fast);
}

.logo-accent {
    color: var(--color-dark);
    transition: color var(--anim-fast);
}

.logo-text:hover,
.logo-text:focus,
.logo-text:hover .logo-accent,
.logo-text:focus .logo-accent {
    color: var(--color-hover-text);
}

.nav-list {
    display: none;
}

.header-address {
    display: none;
}


@media screen and (min-width: 767px) {
    .header {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        padding: 24px 0;
        transition: color var(--anim-fast);
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.is-current {
        color: var(--color-hover-text);
    }

    .header-address {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: var(--fs-xs);
        font-weight: var(--fw-regular);
        line-height: var(--lh-m);
        letter-spacing: var(--ls-l);
        color: var(--color-subtle-text);
        transition: color var(--anim-fast);
    }

    .address-link:hover,
    .address-link:focus {
        color: var(--color-hover-text);
    }
}

@media screen and (min-width:1158px) {

    .header-address {
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-size: var(--fs-m);
        line-height: var(--lh-xxl);
        letter-spacing: var(--ls-m);
    }
}