.burger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}


@media screen and (min-width: 767px) {
    .burger-menu {
        display: none;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    max-height: 56px;
    cursor: pointer;
    color: var(--color-light);
    font-family: inherit;
    background-color: var(--color-primary);
    transition: background-color var(--anim-fast);
}

.button:hover,
.button:focus {
    background-color: var(--color-hover-text);
}

.hero-button {
    margin-bottom: 72px;
}

@media screen and (min-width: 767px) {
    .hero-button {
        margin-bottom: 112px;
    }
}

@media screen and (min-width: 1240px) {
    .hero-button {
        margin-bottom: 188px;
    }
}


.button-scroll {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 90;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-light);
    opacity: 0.6;
    transition: opacity var(--anim-fast),
        background-color var(--anim-fast),
        transform var(--anim-fast);
}

.button-scroll:hover,
.button-scroll:focus {
    background-color: var(--color-hover-text);
    opacity: 1;
    transform: scale(1.1);
}

.button-scroll-up {
    bottom: 80px;
    right: 20px;
}

.button-scroll-down {
    bottom: 20px;
    right: 20px;
}




/* .button-close {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    stroke: var();
}

.button-close:hover {
    stroke: var();
    transform: rotate(90deg);
}

.mobile-menu-button-close {
    top: 16px;
    right: 24px;
} */