/* ------------------buttons ------------------ */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    max-height: 56px;
    padding: 16px 32px;
    color: var(--color-light);
    font-family: inherit;
    border-radius: 4px;
    background-color: var(--color-primary);
    transition: background-color var(--transition);
}

.button:hover,
.button:focus {
    background-color: var(--color-pressed-text);
}


/* ------------------ footer-button ------------------ */
.footer-button {
    /* display: inline-flex;*/
    justify-content: start;
    align-items: center;
    max-width: 165px;
    max-height: 40px;
    padding: 8px 24px;

}

.footer-button:hover,
.footer-button:focus {
    background-color: var(--color-pressed-text);
}

/* ------------------ hero-button ------------------ */
.hero-button {
    margin-bottom: 72px;
}

@media screen and (min-width: 767px) {
    .hero-button {
        margin-bottom: 112px;
    }
}

@media screen and (min-width: 1240px) {
    .hero-button {
        margin-bottom: 188px;
    }
}



/* ------------------ burger-menu ------------------ */
.burger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

@media screen and (min-width: 767px) {
    .burger-menu {
        display: none;
    }
}


/* ------------------ button-scroll ------------------ */
.button-scroll {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 90;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--color-primary);
    color: var(--color-light);
    opacity: 0.3;
    transition: opacity var(--transition),
        background-color var(--transition),
}

.button-scroll:hover,
.button-scroll:focus {
    background-color: var(--color-pressed-text);
    opacity: 1;
}

.button-scroll-up {
    bottom: 80px;
    right: 20px;
}

.button-scroll-down {
    bottom: 20px;
    right: 20px;
}


/* ------------------ button-close ------------------ */
.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid var(--color-subtle-text);
    border-radius: 100%;
    transition: stroke var(--transition),
        background-color var(--transition),
        transform var(--transition);
}

.button-close:hover {
    border-color: transparent;
    background-color: var(--color-pressed-text);
    transform: rotate(90deg);
}