/* ------------------buttons ------------------ */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;

    font-family: inherit;
    color: var(--color-light);

    background-color: var(--color-primary);

    transition: background-color var(--transition);
}

.button:hover,
.button:focus {
    background-color: var(--color-pressed-text);
}

.form-button {
    width: 170px;
    margin: 0 auto;
}

/* ------------------ footer-button ------------------ */
.footer-button {
    justify-content: space-between;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
}

.footer-button:hover,
.footer-button:focus {
    background-color: var(--color-pressed-text);
}


/* ------------------ burger-menu ------------------ */
.burger-menu {
    cursor: pointer;

    padding: 0;
    border: none;

    line-height: 0;

    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}


/* ------------------ button-scroll ------------------ */
.button-scroll {
    position: fixed;
    z-index: 90;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;
    border: 1px solid transparent;
    border-radius: 50%;

    color: var(--color-light);

    opacity: 0.3;
    background-color: var(--color-primary);

    transition: opacity var(--transition),
        background-color var(--transition)
}

.button-scroll:hover,
.button-scroll:focus {
    opacity: 1;
    background-color: var(--color-pressed-text);
}

.button-scroll-up {
    right: 20px;
    bottom: 80px;
}

.button-scroll-down {
    right: 20px;
    bottom: 20px;
}


/* ------------------ button-close ------------------ */
.button-close {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border: 1px solid var(--color-subtle-text);
    border-radius: 50%;

    background-color: rgb(0, 0, 0, 10%);

    transition: stroke var(--transition),
        background-color var(--transition),
        transform var(--transition);
}

.button-close:hover {
    transform: rotate(90deg);
    border-color: transparent;
    color: var(--color-accent);
    background-color: var(--color-pressed-text);
}