/* ------------------ footer-form-box ------------------ */
.footer-form-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

/* ------------------ modal-form ------------------ */
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-field {
    position: relative;
}

.footer-label-form,
.form-label {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    font-size: var(--fs-psdr);
    line-height: var(--lh-psdr);
    letter-spacing: var(--ls-form);

    opacity: 0.6;
    background-color: transparent;

    transition: all var(--transition);
}

.footer-label-form {
    color: var(--color-form-label-footer);
}

.form-label {
    left: 40px;
    color: var(--color-subtle-text);
}

.form-textarea {
    height: 120px;
}

.form-label-textarea {
    top: 20%;
    left: 16px;
    /* color: var(--color-form-textarea); */
}

.footer-input-form,
.form-input {
    width: 288px;
    padding: 8px 16px;
    border-radius: 4px;

    color: var(--color-accent);

    background-color: transparent;
    outline: none;


    transition: border-color var(--transition);
}

.form-input {
    width: 256px;
    padding-left: 40px;
    border: 1px solid var(--color-modal-overlay);
}

.footer-input-form {
    border: 1px solid var(--color-form-label-footer);
}

.form-textarea {
    padding-left: 16px;
}

.footer-input-form:focus,
.form-input:focus {
    border-color: var(--color-accent);
    box-shadow: var(--box-shadow);
}

.footer-input-form:focus+.footer-label-form,
.footer-input-form:not(:placeholder-shown)+.footer-label-form {
    top: -8px;
    opacity: 1;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: -8px;
    left: 16px;
    /* color: var(--color-subtle-text); */
    opacity: 1;
}

.footer-input-form:not(:placeholder-shown):invalid,
.form-input:not(:placeholder-shown):invalid {
    border-color: #ff4d4d;
}

.footer-input-form:not(:placeholder-shown):valid,
.form-input:not(:placeholder-shown):valid {
    border-color: #4caf50;
}

.checkbox-box {
    display: flex;
    align-items: center;
}


.modal-form-own-checkbox {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid var(--color-modal-overlay);
    border-radius: 2px;

    fill: transparent;


    transition: background-color var(--transition),
        border var(--transition),
        fill var(--transition);
}


.checkbox:checked+.form-policy .modal-form-own-checkbox {
    border: none;
    background-color: var(--color-pressed-text);
    fill: var(--color-light);
}


.checkbox:focus+.form-policy .modal-form-own-checkbox {
    border-color: var(--color-primary);
}

.form-policy {
    display: flex;
    align-items: center;

    font-size: var(--fs-psdr);
    font-weight: var(--fw-regular);
    line-height: var(--lh-policy-accent);
    color: var(--color-subtle-text);
    letter-spacing: var(--ls-base);
}

.policy-link {
    color: var(--color-pressed-text);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .footer-form-box {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: start;
    }

    .footer-input-form {
        width: 264px;
    }

    .form-input {
        width: 360px;

    }
}