.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var();
    border-radius: 8px;
    font-size: var();
    outline: none;
    transition: border-color var(--transition);
}

.form-input:focus {
    border-color: var();
}

.form-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    padding: 0 4px;
    color: var();
    pointer-events: none;
    background-color: var();
    transition: all var(--transition);
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: 0;
    font-size: var();
    color: var();
}

.modal-submit-btn {
    width: 100%;
    margin-top: 10px;

}

.form-policy {
    margin-top: 16px;
    font-size: 12px;
    text-align: center;
    color: var();
}

.policy-link {
    color: var();
    text-decoration: underline;
}