.burger-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-dark);
    transition: fill var(--anim-fast);
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    fill: var(--color-hover-text)
}


.button-scroll-icon {
    fill: currentColor;
    transition: fill var(--anim-fast), transform var(--anim-fast);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(90deg);

}

.button-scroll-down .button-scroll-icon {
    transform: rotate(270deg);

}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var();
}


.social-icon {
    fill: var(--color-light);
    transition: fill var(--anim-fast);
}


/* 
.button-close-icon {

    fill: none;
    stroke: var();
    transition: stroke var(--anim-fast);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    stroke: var();
} */

/* 
.modal-logo {
    display: block;
    margin-bottom: 32px;
}

.modal-logo-icon {
    fill: var();
        transition: fill var(--anim-fast);
}

.modal-logo:hover .modal-logo-icon,
.modal-logo:focus .modal-logo-icon {
    fill: var();
} */