/* ------------------ burger-icon ------------------ */
.burger-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-dark);
    transition: fill var(--transition);
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    fill: var(--color-pressed-text);
}

/* ------------------ footer-button-icon ------------------ */
.button-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

/* ------------------ scroll-icon ------------------ */
.button-scroll-icon {
    fill: currentColor;
    transition:
        fill var(--transition),
        transform var(--transition);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(270deg);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var();
}


/* ------------------ close-icon ------------------ */
.button-close-icon {
    fill: var(-color-accent);
    stroke-width: 1px;
    stroke: var(--color-dark);
    transition: stroke var(--transition) fill var(--transition);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    stroke: var(--color-accent);
    fill: var(--color-accent);
    background-color: var(--color-pressed-text);
}

/* ------------------ social-icon ------------------ */
.social-icon {
    fill: var(--color-light);
    transition: fill var(--transition);
}