/* ------------------ logo ------------------ */
.logo {
    display: flex;
    align-items: center;

    font-family: var(--secondary-font);
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
    line-height: var(--lh-logo);
    color: var(--color-primary);
    text-transform: uppercase;

    transition: color var(--transition);
}

.logo-accent {
    color: var(--color-dark);
    transition: color var(--transition);
}

.logo:hover,
.logo:focus,
.logo:hover .logo-accent,
.logo:focus .logo-accent {
    color: var(--color-pressed-text);
}


/* ------------------ burger-icon ------------------ */
.burger-icon {
    width: 24px;
    height: 24px;
    fill: var(--color-dark);
    transition: fill var(--transition);
}

.burger-menu:hover .burger-icon,
.burger-menu:focus .burger-icon {
    fill: var(--color-pressed-text);
}

/* ------------------ scroll-icon ------------------ */
.button-scroll-icon {
    fill: currentColor;
    transition:
        fill var(--transition),
        transform var(--transition);
}

.button-scroll-up .button-scroll-icon {
    transform: rotate(90deg);
}

.button-scroll-down .button-scroll-icon {
    transform: rotate(270deg);
}

.button-scroll:hover .button-scroll-icon,
.button-scroll:focus .button-scroll-icon {
    fill: var(--color-light);
}


/* ------------------ close-icon ------------------ */
.button-close-icon {
    fill: var(--color-accent);
    stroke: var(--color-dark);
    transition: stroke var(--transition), fill var(--transition);
}

.button-close:hover .button-close-icon,
.button-close:focus .button-close-icon {
    background-color: var(--color-pressed-text);
    fill: var(--color-accent);
    stroke: var(--color-accent);
}

/* ------------------ social-icons ------------------ */
.social-icon {
    fill: var(--color-light);
    transition: fill var(--transition);
}

/* ------------------ form-icons ------------------ */
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--color-dark);

    transition: fill var(--transition);
}