.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var(--color-modal-bg);
    transform: translateX(100%);
    transition: transform var(--transition);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 72px 24px 40px 16px;
}



.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.menu-nav-link {
    font-family: var();
    font-size: var();
    font-weight: var();
    color: var();
    transition: color var(--transition);
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var();
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1240px) {}