.mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    transform: translateX(100%);

    width: 100%;
    height: 100%;

    background-color: var(--color-modal-bg);

    transition: transform var(--transition);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    position: relative;

    overflow-y: auto;
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 72px 24px 40px 16px;
}

.menu-nav {
    display: flex;
    flex-grow: 1;
}

.menu-nav-item {
    margin-bottom: 40px;
}

.menu-address {
    margin-bottom: 78px;
}

.menu-address-item {
    margin-bottom: 24px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-medium);
    line-height: var(--lh-heading);
}

.menu-address-item:hover,
.menu-address-item:focus {
    color: var(--color-pressed-text);
}

.menu-nav-link {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-hero);
    color: var(--color-dark);

    transition: color var(--transition);
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: var(--color-pressed-text);
}

.mobile-menu-container .mobile-menu-social-list {
    column-gap: 40px;
}



@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}