.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: var();

    transform: translateX(100%);
    transition: transform var(--anim-slow);
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 64px 24px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    stroke: var();
    cursor: pointer;
}

.mobile-menu-logo {
    margin-bottom: 40px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-link {
    font-family: var();
    font-size: var();
    font-weight: var();
    color: var();
    transition: color var(--anim-fast);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var();
}

@media screen and (min-width: 767px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 1240px) {}