.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 450px;
    background-color: var(--color-light);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    stroke: var(--color-dark);
}

.modal-title {
    font-family: var(--second-font);
    font-size: var(--fs-xxl);
    margin-bottom: 12px;
    text-align: center;
}

.modal-text {
    text-align: center;
    margin-bottom: 24px;
    font-size: var(--fs-s);
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--color-input-border);
    border-radius: 8px;
    font-size: var(--fs-m);
    outline: none;
    transition: border-color var(--anim-fast);
}

.form-input:focus {
    border-color: var(--color-primary);
}

.form-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: var(--color-input-text);
    pointer-events: none;
    transition: all var(--anim-fast);
    background-color: var(--color-light);
    padding: 0 4px;
}

/* Ефект Floating Label */
.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    top: 0;
    font-size: var(--fs-xs);
    color: var(--color-primary);
}

.modal-submit-btn {
    width: 100%;
    margin-top: 10px;
    /* Тут підтягнуться твої глобальні стилі для .button */
}

.form-policy {
    margin-top: 16px;
    font-size: 12px;
    text-align: center;
    color: var(--color-input-text);
}

.policy-link {
    color: var(--color-primary);
    text-decoration: underline;
}

@media screen and (min-width: 1240px) {
    .modal {
        max-width: 500px;
        padding: 60px;
    }
}