.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color-modal-overlay);

    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 288px;
    min-height: 625px;
    padding: 72px 16px 24px;
    border-radius: 4px;

    background-color: var(--color-modal-bg);
    box-shadow: var(--box-shadow)
}


.modal-text {
    margin-bottom: 32px;
    font-weight: var(--fw-medium);
    text-align: center;
}


@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        min-height: 584px;

    }
}