<section class="section feature-section">
  <div class="container feature-container">
    <h2 class="section-title feature-title visually-hidden">Our features</h2>
    <ul class="feature-list">
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="feature-icon" width="64" height="64" aria-label="icon-antenna">
            <use href="/icons/sprite.svg#icon-antenna"></use></svg
        ></div>

        <div class="feature-content">
          <h3 class="feature-subtitle">Strategy</h3>
          <p class="feature-text"
            >Our goal is to identify the business problem to walk away with the perfect and creative
            solution.</p
          >
        </div>
      </li>
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="feature-icon" width="64" height="64" aria-label="icon-clock">
            <use href="/icons/sprite.svg#icon-clock"></use></svg
        ></div>
        <div class="feature-content">
          <h3 class="feature-subtitle">Punctuality</h3>
          <p class="feature-text"
            >Bring the key message to the brand's audience for the best price within the shortest
            possible time.</p
          >
        </div>
      </li>
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="feature-icon" width="64" height="64" aria-label="icon-diagram">
            <use href="/icons/sprite.svg#icon-diagram"></use></svg
        ></div>
        <div class="feature-content">
          <h3 class="feature-subtitle">Diligence</h3>
          <p class="feature-text"
            >Research and confirm brands that present the strongest digital growth opportunities and
            minimize risk.</p
          >
        </div>
      </li>
      <li class="feature-item">
        <div class="feature-icon-box"
          ><svg class="feature-icon" width="64" height="64" aria-label="icon-astronaut">
            <use href="/icons/sprite.svg#icon-astronaut"></use></svg
        ></div>
        <div class="feature-content">
          <h3 class="feature-subtitle">Technologies</h3>
          <p class="feature-text"
            >Design practice focused on digital experiences. We bring forth a deep passion for
            problem-solving.</p
          >
        </div>
      </li>
    </ul>
  </div>
</section>
