<footer class="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <div class="footer-logo-box">
        <a href="#">
          <svg class="logo-icon" width="72" height="38">
            <use href="/icons/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>

      <ul class="nav-list list">
        <li><a class="footer-link link" href="#section-1">Про нас</a></li>
        <li><a class="footer-link link" href="#section-2">Послуги</a></li>
        <li><a class="footer-link link" href="#section-3">Команда</a></li>
        <li><a class="footer-link link" href="#section-4">Контакти</a></li>
      </ul>
    </nav>

    <address class="footer-address">
      <ul class="address-list list">
        <li><a class="address-link link" href="tel:+380960000007">+ 38 (000) 000 00 00</a></li>
        <li><a class="address-link link" href="mailto:info@domain.com">info@test.com</a></li>
        <li><p class="address-text">Україна, м. Київ, вул. Центральна 1</p></li>
      </ul>

      <div class="socials">
        <ul class="socials-list list">
          <li>
            <a href="#" class="socials-link link" aria-label="Facebook">
              <svg class="socials-icon" width="32" height="32">
                <use href="/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="socials-link link" aria-label="Instagram">
              <svg class="socials-icon" width="32" height="32">
                <use href="/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </address>

    <div class="footer-legal">
      <a href="#" class="policy link">Політика конфіденційності</a>
      <p class="copyright">&copy; 2026 Всі права захищені</p>
    </div>
  </div>
</footer>
