<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="72" height="40">
          <use href="/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link is-current" href="#section-1">Про нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section-2">Послуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section-3">Команда</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section-4">Контакти</a>
        </li>
      </ul>
    </nav>

    <button class="button header-button modal-btn-open" type="button"> Зворотній зв'язок </button>

    <button
      class="burger-menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="/icons/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
