<header class="header">
  <div class="container header-container">
    <a class="logo" href="./index.html">
      <p class="logo-text">web<span class="logo-accent">studio</span></p>
    </a>
    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link" href="#features-section">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team-section">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio-section">Portfolio</a>
        </li>
      </ul>
    </nav>
    <address
      ><ul class="header-address">
        <li class="address-link"><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
        <li class="address-link"><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
      </ul>
    </address>

    <button
      class="burger-menu js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="/icons/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
