<div class="mobile-menu js-menu-container">
  <div class="container mobile-menu-container">
    <button class="button-close bjs-close-menu" type="button" aria-label="Закрити меню">
      <svg class="button-close-icon" width="8" height="8">
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu-nav">
      <ul class="menu-nav-list list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#features-section">Features</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#team-section">Team</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#portfolio-section">Portfolio</a>
        </li>
      </ul>
    </nav>

    <address class="menu-address"
      ><ul>
        <li class="menu-address-item"
          ><a href="mailto:info@devstudio.com">info@devstudio.com</a></li
        >
        <li class="menu-address-item"><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
      </ul>
    </address>

    <ul class="social-list mobile-menu-social-list">
      <li class="social-item">
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="24" height="24" aria-label="icon-instagram">
            <use href="/icons/sprite.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="24" height="24" aria-label="icon-twitter">
            <use href="/icons/sprite.svg#icon-twitter"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="24" height="24" aria-label="icon-facebook">
            <use href="/icons/sprite.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
          <svg class="social-icon" width="24" height="24" aria-label="icon-linkedin">
            <use href="/icons/sprite.svg#icon-linkedin"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
