<div class="mobile-menu js-menu-container">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-btn js-close-menu" type="button" aria-label="Закрити меню">
      <svg width="24" height="24">
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="nav-item">
          <a class="nav-link is-current" href="#features-section">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team-section">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio-section">Portfolio</a>
        </li>
      </ul>
    </nav>

    <address class="header-address"
      ><ul>
        <li><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
        <li><a href="tel:+110001111111">+11 (000) 111-11-11</a></li>
      </ul>
    </address>

    <ul class="social-list">
      <li class="social-item">
        <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
          <use href="/icons/sprite.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="social-item">
        <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
          <use href="/icons/sprite.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="social-item">
        <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
          <use href="/icons/sprite.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="social-item">
        <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
          <use href="/icons/sprite.svg#icon-linkedin"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
