<!-- <section class="section portfolio-section">
  <div class="container portfolio-container">
    <h2 class="section-title portfolio-title">Our Portfolio</h2>
    <ul class="portfolio-cards">
      <li class="portfolio-card">
        <div class="portfolio-img-box">
          <img
            class="portfolio-img"
            src="./src/img/portfolio/portfolio-banking-d@1x.webp"
            srcset="
              ./src/img/portfolio/portfolio-banking-d@1x.webp 1x,
              ./src/img/portfolio/portfolio-banking-d@2x.webp 2x
            "
            alt="foto Banking App Interface Concept"
            width="360"
            height="300"
            loading="lazy"
            decoding="async" />

          <div class="overlay">
            <p class="overlay-text">
              Financial application with high-level security, real-time transaction tracking, and
              intuitive user interface.</p
            ></div
          ></div
        >
        <div class="portfolio-content-box">
          <h3 class="portfolio-title">Banking App </h3> <p class="portfolio-category">App</p></div
        >
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-box"
          ><img
            class="portfolio-img"
            src="./src/img/portfolio/portfolio-cashles-d@1x.webp"
            srcset="
              ./src/img/portfolio/portfolio-cashles-d@1x.webp 1x,
              ./src/img/portfolio/portfolio-cashles-d@2x.webp 2x
            "
            alt="foto Cashless Payment Interface Concept"
            width="360"
            height="300"
            loading="lazy"
            decoding="async" />

          <div class="overlay">
            <p class="overlay-text">
              Cashless payment application with user-friendly interface, real-time transaction
              tracking, and intuitive user interface.</p
            >
          </div></div
        ><div class="portfolio-content-box">
          <h3 class="portfolio-title">Cashless Payment</h3>
          <p class="portfolio-category">Marketing</p></div
        >
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-box"
          ><img
            class="portfolio-img"
            src="./src/img/portfolio/portfolio-meditation-d@1x.webp"
            srcset="
              ./src/img/portfolio/portfolio-meditation-d@1x.webp 1x,
              ./src/img/portfolio/portfolio-meditation-d@2x.webp 2x
            "
            alt="foto Meditation App Interface Concept"
            width="360"
            height="300"
            loading="lazy"
            decoding="async" />
          <div class="overlay">
            <p class="overlay-text">
              Meditation application with user-friendly interface, real-time transaction tracking,
              and intuitive user interface.p></p
            ></div
          ></div
        ><div class="portfolio-content-box">
          <h3 class="portfolio-title">Meditation App</h3>
          <p class="portfolio-category">App</p></div
        >
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-box"
          ><img
            class="portfolio-img"
            src="./src/img/portfolio/portfolio-taxi-d@1x.webp"
            srcset="
              ./src/img/portfolio/portfolio-taxi-d@1x.webp 1x,
              ./src/img/portfolio/portfolio-taxi-d@2x.webp 2x
            "
            alt="foto Taxi Service Interface Concept"
            width="360"
            height="300"
            loading="lazy"
            decoding="async" />
          <div class="overlay">
            <p class="overlay-text">
              Taxi service application with user-friendly interface, real-time transaction tracking,
              and intuitive user interface.</p
            >
          </div></div
        ><div class="portfolio-content-box">
          <h3 class="portfolio-title">Taxi Service</h3>
          <p class="portfolio-category">Marketing</p></div
        >
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-box"
          ><img
            class="portfolio-img"
            src="./src/img/portfolio/portfolio-screen-d@1x.webp"
            srcset="
              ./src/img/portfolio/portfolio-screen-d@1x.webp 1x,
              ./src/img/portfolio/portfolio-screen-d@2x.webp 2x
            "
            alt="foto Screen Illustrations Interface Concept"
            width="360"
            height="300"
            loading="lazy"
            decoding="async" />
          <div class="overlay">
            <p class="overlay-text">
              Screen illustrations application with user-friendly interface, real-time transaction
              tracking, and intuitive user interface.</p
            ></div
          > </div
        ><div class="portfolio-content-box">
          <h3 class="portfolio-title">Screen Illustrations</h3>
          <p class="portfolio-category">Design</p></div
        >
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-box"
          ><img
            class="portfolio-img"
            src="./src/img/portfolio/portfolio-courses-d@1x.webp"
            srcset="
              ./src/img/portfolio/portfolio-courses-d@1x.webp 1x,
              ./src/img/portfolio/portfolio-courses-d@2x.webp 2x
            "
            alt="foto Online Courses Interface Concept"
            width="360"
            height="300"
            loading="lazy"
            decoding="async" />
          <div class="overlay">
            <p class="overlay-text">
              Online courses application with user-friendly interface, real-time transaction
              tracking, and intuitive user interface.</p
            >
          </div></div
        ><div class="portfolio-content-box">
          <h3 class="portfolio-title">Online Courses</h3>
          <p class="portfolio-category">Marketing</p></div
        >
      </li>
    </ul>
  </div>
</section> -->
