<section class="section team-section">
  <div class="container team-container">
    <h2 class="section-title">Our Team</h2>
    <ul class="team-list">
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-mark@1x.webp"
          srcset="./src/img/team/team-mark@1x.webp 1x, ./src/img/team/team-mark@2x.webp 2x"
          alt="foto Product Designer Mark Guerrero"
          width="260"
          height="264"
          loading="lazy"
          decoding="async" />
        <div class="team-content">
          <h3 class="subtitle team-name">Mark Guerrero</h3>
          <p class="team-profesion">Product Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-icon" width="16" height="16" aria-label="icon-instagram">
                <use href="/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-icon" width="16" height="16" aria-label="icon-twitter">
                <use href="/icons/sprite.svg#icon-twitter"></use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-icon" width="16" height="16" aria-label="icon-facebook">
                <use href="/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-icon" width="16" height="16" aria-label="icon-linkedin">
                <use href="/icons/sprite.svg#icon-linkedin"></use>
              </svg>
            </li> </ul
        ></div>
      </li>
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-tom@1x.webp"
          srcset="./src/img/team/team-tom@1x.webp 1x, ./src/img/team/team-tom@2x.webp 2x"
          alt="foto Frontend Developer Tom Ford"
          width="260"
          height="264"
          loading="lazy"
          decoding="async" />
        <h3 class="subtitle team-name">Tom Ford</h3>
        <p class="team-profesion">Frontend Developer</p>
        <ul class="social-list">
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
              <use href="/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
              <use href="/icons/sprite.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
              <use href="/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
              <use href="/icons/sprite.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-camila@1x.webp"
          srcset="./src/img/team/team-camila@1x.webp 1x, ./src/img/team/team-camila@2x.webp 2x"
          alt="foto Marketing Camila Garcia"
          width="260"
          height="264"
          loading="lazy"
          decoding="async" />
        <h3 class="subtitle team-name">Camila Garcia</h3>
        <p class="team-profesion">Marketing</p>
        <ul class="social-list">
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
              <use href="/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
              <use href="/icons/sprite.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
              <use href="/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
              <use href="/icons/sprite.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul>
      </li>
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-daniel@1x.webp"
          srcset="./src/img/team/team-daniel@1x.webp 1x, ./src/img/team/team-daniel@2x.webp 2x"
          alt="foto UI Designer Daniel Wilson"
          width="260"
          height="264"
          loading="lazy"
          decoding="async" />
        <h3 class="subtitle team-name">Daniel Wilson</h3>
        <p class="team-profesion">UI Designer</p>
        <ul class="social-list">
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
              <use href="/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
              <use href="/icons/sprite.svg#icon-twitter"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
              <use href="/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </li>
          <li class="social-item">
            <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
              <use href="/icons/sprite.svg#icon-linkedin"></use>
            </svg>
          </li>
        </ul> </li
    ></ul>
  </div>
</section>
