<section class="section team-section">
  <div class="container team-container">
    <h2 class="section-title">Our Team</h2>
    <ul class="team-list">
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-mark@1x.webp"
          srcset="./src/img/team/team-mark@1x.webp 1x, ./src/img/team/team-mark@2x.webp 2x"
          alt="foto Product Designer Mark Guerrero"
          width="264"
          height="260"
          loading="lazy"
          decoding="async" />
        <div class="team-content">
          <h3 class="subtitle team-name">Mark Guerrero</h3>
          <p class="team-profesion">Product Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
                  <use href="/icons/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
                  <use href="/icons/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
                  <use href="/icons/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
                  <use href="/icons/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li> </ul
        ></div>
      </li>
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-tom@1x.webp"
          srcset="./src/img/team/team-tom@1x.webp 1x, ./src/img/team/team-tom@2x.webp 2x"
          alt="foto Frontend Developer Tom Ford"
          width="264"
          height="260"
          loading="lazy"
          decoding="async" />
        <div class="team-content">
          <h3 class="subtitle team-name">Tom Ford</h3>
          <p class="team-profesion">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
                  <use href="/icons/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
                  <use href="/icons/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
                  <use href="/icons/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
                  <use href="/icons/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li> </ul
        ></div>
      </li>
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-camila@1x.webp"
          srcset="./src/img/team/team-camila@1x.webp 1x, ./src/img/team/team-camila@2x.webp 2x"
          alt="foto Marketing Camila Garcia"
          width="264"
          height="260"
          loading="lazy"
          decoding="async" />
        <div class="team-content">
          <h3 class="subtitle team-name">Camila Garcia</h3>
          <p class="team-profesion">Marketing</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
                  <use href="/icons/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
                  <use href="/icons/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
                  <use href="/icons/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
                  <use href="/icons/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li> </ul
        ></div>
      </li>
      <li class="team-card">
        <img
          class="team-foto"
          src="./src/img/team/team-daniel@1x.webp"
          srcset="./src/img/team/team-daniel@1x.webp 1x, ./src/img/team/team-daniel@2x.webp 2x"
          alt="foto UI Designer Daniel Wilson"
          width="264"
          height="260"
          loading="lazy"
          decoding="async" />
        <div class="team-content">
          <h3 class="subtitle team-name">Daniel Wilson</h3>
          <p class="team-profesion">UI Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-instagram">
                  <use href="/icons/sprite.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-twitter">
                  <use href="/icons/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-facebook">
                  <use href="/icons/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-icon" width="12" height="12" aria-label="icon-linkedin">
                  <use href="/icons/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul> </div></li
    ></ul>
  </div>
</section>
