/* base styles */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/fonts.css');
@import url('./base/base.css');

/* Components styles */
@import url('./components/buttons.css');
@import url('./components/icons.css');
@import url('./components/mobile-menu.css');
@import url('./components/modal.css');
/* @import url('./components/animations.css'); */
/* @import url('./components/cards.css'); */

/*Layout styles */
@import url('./layout/header.css');
@import url('./layout/footer.css');

/*Sections styles */
@import url('./sections/.css');
@import url('./sections/.css');
@import url('./sections/.css');
@import url('./sections/.css');
@import url('./sections/.css');
@import url('./sections/.css');