/* Normalize */
@import "modern-normalize";

/* base styles */
@import "./base/variables.css";
@import "./base/fonts.css";
@import "./base/reset.css";
@import "./base/base.css";

/* Components styles */
@import "./components/buttons.css";
@import "./components/icons.css";
@import "./components/mobile-menu.css";
@import "./components/modal.css";
@import "./components/form.css";
@import "./components/overlay.css";

/*Layout styles */
@import "./layout/header.css";
@import "./layout/footer.css";

/*Sections styles */
@import "./sections/hero-section.css";
@import "./sections/features-section.css";
@import "./sections/teams-section.css";
@import "./sections/portfolio-section.css";